*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #666666;
  vertical-align: baseline;
  line-height: 25px;
  font-weight: 400;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

p {
  font-size: 16px;
}

ul, ol {
  list-style-type: none;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}

::selection {
  background: rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #212121;
  margin: 0 0 26px;
  font-weight: 600;
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 50px;
  width: 50px;
  background-color: #F34336;
  display: block;
  border-radius: 50%;
  transition: all 500ms ease;
  -webkit-animation: pulse 0.5s infinite;
  -o-animation: pulse 0.5s infinite;
  animation: pulse 0.5s infinite;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  border: 8px solid transparent;
  border-bottom-color: white;
}

@media only screen and (max-width: 400px) {
  #scroll {
    height: 30px;
    width: 30px;
  }
}
.section-title h3 {
  -webkit-animation: fadeInDown 0.8s ease-in-out;
  animation: fadeInDown 0.8s ease-in-out;
  position: relative;
  color: #212121;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  padding-right: 125px;
}
.section-title h3:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 109px;
  height: 2px;
  background: #F34336;
  margin-left: -95px;
}

.footer-title {
  margin-bottom: 40px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
}
.footer-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 50px;
  background-color: #fff;
}

.owl-nav {
  position: absolute;
  right: 0;
  top: -99px;
}
.owl-nav .owl-prev {
  background: #F34336 !important;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff !important;
  display: inline-block;
  transition: all 0.3s ease 0s;
  left: -2px;
  border-radius: 4px 0 0 4px;
}
.owl-nav .owl-prev:hover {
  background: #222 !important;
}
.owl-nav .owl-next {
  background: #F34336 !important;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff !important;
  display: inline-block;
  transition: all 0.3s ease 0s;
  border-radius: 4px 0 0 4px;
}
.owl-nav .owl-next:hover {
  background: #222 !important;
}

.toolbar {
  height: 52px;
  padding: 0;
  border-bottom: 1px solid #eee;
}
.toolbar .toolbar-contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.9;
}
.toolbar .toolbar-contact ul li {
  display: inline-block;
  border-left: 1px solid #eee;
  padding: 7px 10px;
  color: #aaa;
}
.toolbar .toolbar-contact ul li p {
  margin: 0;
  float: right;
  font-size: 13px;
  margin-top: 5px;
  color: #aaa;
}
.toolbar .toolbar-contact ul li i {
  font-size: 18px;
  margin-right: 10px;
}
.toolbar .toolbar-contact ul li a {
  transition: all 0.3s ease 0s;
  font-size: 13px;
  color: #aaa;
}
.toolbar .toolbar-contact ul li a:hover {
  color: #F34336;
}
.toolbar .toolbar-social ul {
  float: right;
}
.toolbar .toolbar-social ul li {
  display: inline-block;
}
.toolbar .toolbar-social ul li a {
  color: #aaa;
  display: block;
  height: 54px;
  width: 47px;
  text-align: center;
  line-height: 54px;
  background: transparent;
  transition: all 0.3s;
}
.toolbar .toolbar-social ul li a:hover {
  background-color: #F34336;
  color: #fff;
}
.toolbar .toolbar-social ul li a i {
  font-size: inherit;
}

@media only screen and (max-width: 991px) {
  .toolbar {
    display: none;
  }
}
nav {
  background: #ffffff;
  border-bottom: 1px solid #eee;
  transition: all 0.5s ease 0s;
  z-index: 99;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.05);
}
nav .navbar-brand {
  color: #222 !important;
}
nav .navbar-brand span {
  margin-top: 29px;
  display: inline-block;
  position: absolute;
  font-size: 22px;
  margin-left: -28px;
  color: #222;
}
nav ul li {
  height: 50px;
  margin: 0px 5px;
  line-height: 50px;
}
nav ul li .dropdown-menu {
  margin-top: 20px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 0.25rem;
}
nav ul li .dropdown-menu .active {
  background-color: transparent;
}
nav ul li .dropdown-menu .dropdown-item {
  transition: all 0.3s;
}
nav ul li .dropdown-menu .dropdown-item:hover {
  background: #F34336;
  color: #fff !important;
}
nav ul li a {
  color: #222 !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
  transition: all 0.3s;
}
nav ul li a:hover, nav ul li a.active {
  color: #F34336 !important;
}
nav ul li #search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999999;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}
nav ul li #search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #F34336;
  border-color: #F34336;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}
nav ul li #search form input[type=search] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border-bottom: 2px solid #fff !important;
  border: none;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
nav ul li #search form .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #F34336 !important;
}

.nav-fix {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

.right-menu {
  background: #ffffff;
  box-shadow: inset 0 5px 15px 0 #e6e6e6;
  padding: 30px;
  z-index: 999999;
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  right: -332px;
  transition: all 0.5s;
}
.right-menu .close-btn {
  overflow: visible;
  padding: 0;
  float: right;
  margin-top: -11px;
  transition: all 500ms ease;
  -webkit-animation: pulse 0.5s infinite;
  -o-animation: pulse 0.5s infinite;
  animation: pulse 0.5s infinite;
}
.right-menu .close-btn span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  background: #F34336;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease 0s;
}
.right-menu .close-btn span i {
  transition: all 0.3s ease 0s;
}
.right-menu .logo {
  padding-left: 0;
  padding-bottom: 25px;
}
.right-menu .logo img {
  width: auto;
  height: 35px;
}
.right-menu .logo span {
  color: #222;
  position: absolute;
  margin-top: 12px;
  margin-left: -16px;
  font-size: 18px;
}
.right-menu .logo .close-btn span {
  color: #fff;
}
.right-menu .contact {
  padding: 25px 0 0;
  margin-bottom: 50px;
}
.right-menu .contact h5 {
  padding: 0 0 15px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.right-menu .contact h5:before {
  content: "";
  position: absolute;
  background: #F34336;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}
.right-menu .contact .contact-info {
  padding: 0 0 30px;
}
.right-menu .contact .contact-info li {
  padding: 0 0 13px;
}
.right-menu .contact .contact-info li i {
  padding-right: 10px;
}
.right-menu .contact .contact-info li a {
  color: #666666;
  transition: all 0.3s;
}
.right-menu .contact .contact-info li a:hover {
  color: #F34336;
}
.right-menu .contact .social li {
  display: inline-block;
  padding-right: 10px;
}
.right-menu .contact .social li i {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #F34336;
  text-align: center;
  border-radius: 50%;
  transition: all 0.4s;
  border: 2px solid transparent;
}
.right-menu .contact .social li i:hover {
  border: 2px solid #F34336;
  background: transparent;
  color: #F34336;
}

@media only screen and (max-width: 1199px) {
  nav li a {
    margin-right: 0px;
  }
  nav .contact {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3px !important;
    padding-left: 3px !important;
  }
}
@media only screen and (max-width: 1199px) {
  nav a span {
    font-size: 15px !important;
  }
}
header {
  height: 90vh;
  position: relative;
  transition: all 0.9s;
}
header .swiper-container {
  width: 100%;
  height: 100%;
}
header .swiper-container .swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
}
header .swiper-container .swiper-slide .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
header .swiper-container .swiper-slide .slide-overlay .slider-caption {
  position: absolute;
  left: 9%;
  top: 25%;
}
header .swiper-container .swiper-slide .slide-overlay .slider-caption h3 {
  color: #fff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 12px;
}
header .swiper-container .swiper-slide .slide-overlay .slider-caption h1 {
  -webkit-animation: fadeInLeft 1s ease-in-out;
  animation: fadeInLeft 1s ease-in-out;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  color: #fff;
}
header .swiper-container .swiper-slide .slide-overlay .slider-caption p {
  -webkit-animation: fadeInUp 0.8s ease-in-out;
  animation: fadeInUp 0.8s ease-in-out;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
header .swiper-container .swiper-slide .slide-overlay .slider-caption .button {
  margin-top: 20px;
}
header .swiper-container .swiper-slide .slide-overlay .slider-caption .button a {
  display: inline-block !important;
  background: #F34336;
  padding: 15px 33px;
  line-height: normal;
  border: 2px solid #F34336;
  color: #ffffff;
  transition: all 0.3s ease 0s;
  border-radius: 30px 30px 30px 30px;
}
header .swiper-container .swiper-slide .slide-overlay .slider-caption .button a:hover {
  background-color: #ffffff;
  color: #F34336;
}
header .swiper-container .swiper-button-next {
  background-color: #F34336;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: none;
  border-radius: 10%;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  right: 40px;
  opacity: 0;
}
header .swiper-container .swiper-button-prev {
  background-color: #F34336;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: none;
  border-radius: 10%;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  left: 40px;
  opacity: 0;
}
header .swiper-container:hover .swiper-button-next {
  opacity: 1;
  right: 15px;
}
header .swiper-container:hover .swiper-button-prev {
  opacity: 1;
  left: 15px;
}

@media only screen and (max-width: 440px) {
  header .button, header p {
    display: none;
  }
}
.how-we-work {
  padding-bottom: 8rem;
  padding-top: 8rem;
}
.how-we-work .work-div {
  position: relative;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.08);
  -moz-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.08);
  box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.08);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
}
.how-we-work .work-div .img-box {
  overflow: hidden;
}
.how-we-work .work-div .img-box img {
  height: auto;
  width: 100%;
  transition: all 0.3s;
  border-radius: 5px 5px 0 0;
}
.how-we-work .work-div .caption {
  padding: 15px 18px 22px 18px;
}
.how-we-work .work-div .caption h4 {
  letter-spacing: 0;
  margin: 10px 0 10px;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  line-height: normal;
}
.how-we-work .work-div .caption h4 a {
  color: #212121;
}
.how-we-work .work-div .caption p {
  color: #666;
  font-size: 14px;
  margin: 0;
}
.how-we-work .work-div:hover {
  webkit-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.16);
  -moz-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.16);
  box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.16);
}
.how-we-work .work-div:hover img {
  transform: scale(1.1);
}
.how-we-work .work-div:hover h4 a {
  color: #F34336;
}

.service-section {
  background-color: #f4f7fc;
  padding: 7rem 0;
}
.service-section .service-title {
  margin-bottom: 20px;
}
.service-section .service-title h3 {
  font-size: 30px;
  color: #050505;
  font-weight: 700;
}
.service-section .service-title p {
  margin: 0 0 34px;
}
.service-section .service-title a {
  display: inline-block !important;
  background: #F34336;
  padding: 15px 33px;
  line-height: normal;
  border: 2px solid #F34336;
  color: #ffffff;
  transition: all 0.3s ease 0s;
  border-radius: 30px 30px 30px 30px;
}
.service-section .service-title a:hover {
  background: transparent;
  color: #222222;
}
.service-section .service-part {
  background: #ffffff;
  padding: 28px 11px 21px 22px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
  border-radius: 5px;
  margin-bottom: 30px;
}
.service-section .service-part i {
  font-size: 40px;
  text-align: center;
  color: #F34336;
}
.service-section .service-part .text h4 {
  margin: 0 auto;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 20px;
}
.service-section .service-part .text p {
  margin-bottom: 0;
}
.service-section .service-part:hover {
  background: #F34336;
}
.service-section .service-part:hover h4, .service-section .service-part:hover p, .service-section .service-part:hover i {
  color: #fff;
}

.Project-section {
  padding: 96px 0 100px;
}
.Project-section .section-title {
  margin-bottom: 66px;
}
.Project-section .Project-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.Project-section .Project-item img {
  display: block;
  width: 100%;
}
.Project-section .Project-item .Project-overlay {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s ease 0s;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
.Project-section .Project-item .Project-overlay .Project-content {
  margin-top: 27%;
}
.Project-section .Project-item .Project-overlay .Project-content h4 {
  font-size: 18px;
  font-weight: 500;
}
.Project-section .Project-item .Project-overlay .Project-content h4 a {
  color: #fff;
}
.Project-section .Project-item .Project-overlay .Project-content h4 a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.Project-section .Project-item .Project-overlay .Project-content .project-btn {
  background: transparent;
  padding: 6px 18px;
  color: #ffffff;
  border: 2px solid #F34336;
  border-radius: 30px;
  font-size: 13px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
}
.Project-section .Project-item .Project-overlay .Project-content .project-btn:hover {
  background-color: #F34336;
  color: #fff;
}
.Project-section .Project-item:hover .Project-overlay {
  top: 0;
  opacity: 1;
}

.why-choose-us {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #f4f7fc;
}
.why-choose-us .video-section {
  position: relative;
  margin-bottom: 50px;
}
.why-choose-us .video-section .image {
  position: relative;
}
.why-choose-us .video-section .image img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.why-choose-us .video-section .image .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.why-choose-us .video-section .image .video-icon a {
  position: relative;
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 6px 33px;
  margin: 0 auto;
}
.why-choose-us .video-section .image .video-icon a span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 27px solid #fff;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}
.why-choose-us .video-section .image .video-icon:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #F34336;
  border-radius: 50%;
}
.why-choose-us .services-responsibiity {
  margin-bottom: 18px;
}
.why-choose-us .services-responsibiity .section-title {
  margin-bottom: 45px;
}
.why-choose-us .services-responsibiity .services-item {
  z-index: 10;
  margin-bottom: 25px;
  width: 100%;
}
.why-choose-us .services-responsibiity .services-item .service-icon {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  background: #F34336;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  border: 1px solid #F34336;
  margin-right: 15px;
  box-shadow: 6px 2px 13px rgba(0, 0, 0, 0.1);
}
.why-choose-us .services-responsibiity .services-item .service-icon i {
  color: #fff;
  font-size: 20px;
}
.why-choose-us .services-responsibiity .services-item .services-content {
  overflow: hidden;
  padding: 0px 15px;
}
.why-choose-us .services-responsibiity .services-item .services-content h3 {
  margin-top: 0px;
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 600;
}
.why-choose-us .services-responsibiity .services-item .services-content h3 a {
  color: #212121;
}
.why-choose-us .services-responsibiity .services-item .services-content h3 a:hover {
  color: #F34336;
}
.why-choose-us .services-responsibiity .services-item .services-content p {
  margin-bottom: 15px;
  color: #666666;
}

.team-section {
  padding-top: 7rem;
  padding-bottom: 12rem;
}
.team-section .section-title {
  margin-bottom: 66px;
}
.team-section .team-item {
  text-align: center;
  z-index: 1;
  margin-bottom: 50px;
}
.team-section .team-item .team-overlay {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.team-section .team-item .team-overlay .team-img {
  overflow: hidden;
  position: relative;
}
.team-section .team-item .team-overlay .team-img img {
  width: 100%;
  height: auto;
}
.team-section .team-item .team-overlay .team-content {
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 0;
  bottom: 0;
}
.team-section .team-item .team-overlay .team-content .social-content {
  width: 100%;
  position: relative;
  height: 45px;
}
.team-section .team-item .team-overlay .team-content .social-content .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.2s;
}
.team-section .team-item .team-overlay .team-content .social-content ul {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 9999;
  opacity: 0;
  transition: all 0.2s;
}
.team-section .team-item .team-overlay .team-content .social-content li {
  display: inline-block;
}
.team-section .team-item .team-overlay .team-content .social-content li a {
  display: block;
  color: #ffffff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.team-section .team-item .team-overlay:hover .social-content .cover {
  top: 0;
}
.team-section .team-item .team-overlay:hover .social-content ul {
  opacity: 1;
}
.team-section .team-item .team-info h4 {
  font-size: 20px;
  font-weight: 600;
  color: #212121;
  margin: 18px 0 0;
  transition: all 0.5s ease 0s;
}
.team-section .team-item .team-info span {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  padding: 0;
  display: block;
}

.contact-section {
  background-image: url("../images/contact/60e2f07b-d667-4eed-a182-4e0662cf3361.jpg");
  background-size: cover;
}
.contact-section .contact-area {
  background: #F34336;
  position: relative;
  margin-top: -110px;
  -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
}
.contact-section .contact-area .contact-form {
  background: #F34336;
  padding: 50px 45px 60px;
}
.contact-section .contact-area .contact-form .section-title {
  margin-bottom: 20px;
  margin-top: 40px;
}
.contact-section .contact-area .contact-form .section-title h3 {
  color: #ffffff;
  margin: 0;
  padding: 0 0 40px;
}
.contact-section .contact-area .contact-form .section-title h3:after {
  background: #ffffff;
  right: unset;
  left: 95px;
  top: unset;
  bottom: 20px;
  width: 88px;
}
.contact-section .contact-area .contact-form .form-field {
  margin-bottom: 20px;
}
.contact-section .contact-area .contact-form .form-field input, .contact-section .contact-area .contact-form .form-field textarea {
  padding-left: 20px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(60, 65, 84, 0.2);
  background: transparent;
  color: #ffffff !important;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  color: #666666;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}
.contact-section .contact-area .contact-form .form-field ::placeholder {
  color: #ffffff;
}
.contact-section .contact-area .contact-form .form-field textarea {
  max-height: 85px !important;
  resize: none;
  overflow: auto;
  outline: none;
  height: 60px;
}
.contact-section .contact-area .contact-form .form-button {
  margin-top: 30px;
}
.contact-section .contact-area .contact-form .form-button button {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff !important;
  cursor: pointer;
  height: 48px;
  padding: 9px 30px;
  font-size: 15px;
  border-radius: 30px 30px 30px 30px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.3s;
}
.contact-section .contact-area .contact-form .form-button button:hover {
  background: #fff;
  color: #222 !important;
}
.contact-section #video-section {
  position: relative;
  top: 7%;
  padding: 6rem 0;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
}
.contact-section #video-section .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.contact-section #video-section .video-icon a {
  position: relative;
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 6px 33px;
  margin: 0 auto;
}
.contact-section #video-section .video-icon a span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 27px solid #fff;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}
.contact-section #video-section .video-icon:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 130px;
  height: 130px;
  background: transparent;
  border: 5px solid #F34336;
  border-radius: 50%;
  transition: all 200ms;
}
.contact-section #video-section .video-icon:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #F34336;
  border-radius: 50%;
  transition: all 200ms;
}

.partner {
  background-color: #f4f7fc;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.partner .partner-item {
  margin-bottom: 30px;
}

footer {
  background-color: #222;
  color: #fff;
}
footer a {
  color: #fff;
  transition: all 0.3s;
}
footer a:hover {
  color: #F34336;
}
footer p {
  color: #fff;
}
footer #top-footer {
  padding: 57px 0;
}
footer #top-footer .about-widget img {
  margin-bottom: 32px;
  height: 36px;
}
footer #top-footer .about-widget .footer-address {
  margin: 0;
  padding: 0;
}
footer #top-footer .about-widget .footer-address li {
  font-size: 15px;
  margin-bottom: 10px;
}
footer #top-footer .about-widget .footer-address li i {
  margin-right: 10px;
}
footer #top-footer .about-widget .social-links {
  margin-top: 20px;
}
footer #top-footer .about-widget .social-links li {
  display: inline;
  margin-right: 10px;
}
footer #top-footer .about-widget .social-links li a {
  color: #ffffff;
}
footer #top-footer .about-widget .social-links li a i {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #3c3c3c;
  text-align: center;
  transition: all 0.3s ease 0s;
}
footer #top-footer .about-widget .social-links li a i:hover {
  background: #ffffff;
  color: #222222;
}
footer .footer-bottom {
  padding: 20px 0 0px;
  background: #3c3c3c;
}
footer .footer-bottom .copyright p {
  margin: 5px 0 0;
  font-size: 14px;
}

@media only screen and (max-width: 991px) {
  .footer-bottom {
    text-align: center;
  }
}
.contact-header {
  background-image: url("../images/contact/contact_page_background.jpg");
  background-size: cover;
}
.contact-header .content {
  padding: 6rem 1rem;
}
.contact-header .content h1 {
  width: 100%;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  color: #ffffff;
  float: left;
  line-height: 42px;
}
.contact-header .content ul {
  margin-top: 70px;
}
.contact-header .content ul li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.contact-header .content ul li a {
  color: #ffffff;
  transition: all 0.3s;
}
.contact-header .content ul li a i {
  padding: 0px 4px;
}
.contact-header .content ul li a:hover {
  color: #F34336;
}
.contact-header .content ul li:last-child {
  color: #aaa;
}

.icon-section {
  padding-top: 6rem;
  text-align: center;
}
.icon-section .icon-box {
  max-width: 750px;
  margin: 0 auto;
}
.icon-section .icon-box .single-icon {
  text-align: center;
  margin-bottom: 30px;
}
.icon-section .icon-box .single-icon .icon-part {
  margin: 0 0 10px;
}
.icon-section .icon-box .single-icon .icon-part a i {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #F34336;
  color: #ffffff;
  border-radius: 100%;
  font-size: 20px;
  position: relative;
  z-index: 9;
  margin: 0 auto;
}
.icon-section .icon-box .single-icon .icon-text {
  position: relative;
}
.icon-section .icon-box .single-icon .icon-text h3 {
  font-size: 26px;
  font-weight: 500;
  color: #212121;
  margin: 0;
}
.icon-section .icon-box .single-icon .icon-text a {
  color: #666666;
  margin-top: 15px;
}

.form-section {
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.form-section .contact-form {
  max-width: 750px;
  margin: 0 auto;
}
.form-section .contact-form .form-field {
  margin-bottom: 30px;
  position: relative;
}
.form-section .contact-form .form-field input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  color: #666666;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-section .contact-form .form-field input:focus {
  box-shadow: none;
  border: 1px solid #ddd !important;
  outline: none;
  box-shadow: none;
}
.form-section .contact-form .form-field input:hover {
  border: 1px solid #dddd !important;
}
.form-section .contact-form .form-field textarea {
  width: 100%;
  padding: 30px 20px;
  color: #666666;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}
.form-section .contact-form .form-field textarea:focus {
  box-shadow: none;
  border: 1px solid #ddd !important;
  outline: none;
}
.form-section .contact-form .form-field textarea:hover {
  border: 1px solid #dddd !important;
}
.form-section .contact-form button {
  border: 2px solid #F34336;
  outline: none;
  height: 48px;
  padding: 9px 30px;
  font-size: 15px;
  text-transform: capitalize;
  background: #F34336;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 30px 30px 30px 30px;
}

.map iframe {
  width: 100%;
  height: 450px;
}

.Project-header {
  background-image: url("../images/project/background.jpg");
  background-size: cover;
}
.Project-header .content {
  padding: 6rem 1rem;
}
.Project-header .content h1 {
  width: 100%;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  color: #ffffff;
  float: left;
  line-height: 42px;
}
.Project-header .content ul {
  margin-top: 70px;
}
.Project-header .content ul li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.Project-header .content ul li a {
  color: #ffffff;
  transition: all 0.3s;
}
.Project-header .content ul li a i {
  padding: 0px 4px;
}
.Project-header .content ul li a:hover {
  color: #F34336;
}
.Project-header .content ul li:last-child {
  color: #aaa;
}

.Project {
  padding: 5rem 0;
}
.Project .Project-item {
  position: relative;
  margin-bottom: 50px;
}
.Project .Project-item .Project-content {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.Project .Project-item .Project-content img {
  display: block;
  width: 100%;
}
.Project .Project-item .Project-content .overlay-text {
  position: absolute;
  content: "";
  width: 100%;
  opacity: 0;
  height: 100%;
  top: 50%;
  left: 0;
  transition: all 0.3s ease 0s;
  background: rgba(0, 0, 0, 0.7);
}
.Project .Project-item .Project-content .overlay-text .contents-here {
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Project .Project-item .Project-content .overlay-text .contents-here a {
  color: #fff;
  text-align: center;
}
.Project .Project-item .Project-content .overlay-text .contents-here a i {
  display: block;
  color: #F34336;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #ffffff;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  margin: 0 auto;
}
.Project .Project-item .Project-content .overlay-text .contents-here h4 {
  margin-top: 20px;
}
.Project .Project-item .Project-content .overlay-text .contents-here ul li {
  display: inline;
}
.Project .Project-item .Project-content .overlay-text .contents-here ul li a {
  color: #fff;
}
.Project .Project-item:hover .overlay-text {
  top: 0;
  opacity: 1;
}

.video-gallery-header {
  background-image: url("../images/video/background.jpg");
  background-size: cover;
}
.video-gallery-header .content {
  padding: 6rem 1rem;
}
.video-gallery-header .content h1 {
  width: 100%;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  color: #ffffff;
  float: left;
  line-height: 42px;
}
.video-gallery-header .content ul {
  margin-top: 70px;
}
.video-gallery-header .content ul li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.video-gallery-header .content ul li a {
  color: #ffffff;
  transition: all 0.3s;
}
.video-gallery-header .content ul li a i {
  padding: 0px 4px;
}
.video-gallery-header .content ul li a:hover {
  color: #F34336;
}
.video-gallery-header .content ul li:last-child {
  color: #aaa;
}

.video-gallery {
  padding-top: 6rem;
  padding-bottom: 4rem;
}
.video-gallery .video-section {
  position: relative;
  margin-bottom: 50px;
}
.video-gallery .video-section .image {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}
.video-gallery .video-section .image img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.video-gallery .video-section .image .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.video-gallery .video-section .image .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.video-gallery .video-section .image .video-icon a {
  position: relative;
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 6px 33px;
  margin: 0 auto;
}
.video-gallery .video-section .image .video-icon a span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 27px solid #fff;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}
.video-gallery .video-section .image .video-icon:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #F34336;
  border-radius: 50%;
  transition: all 200ms;
}

.team-header {
  background-image: url("../images/team/background.jpg");
  background-size: cover;
}
.team-header .content {
  padding: 6rem 1rem;
}
.team-header .content h1 {
  width: 100%;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  color: #ffffff;
  float: left;
  line-height: 42px;
}
.team-header .content ul {
  margin-top: 70px;
}
.team-header .content ul li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.team-header .content ul li a {
  color: #ffffff;
  transition: all 0.3s;
}
.team-header .content ul li a i {
  padding: 0px 4px;
}
.team-header .content ul li a:hover {
  color: #F34336;
}
.team-header .content ul li:last-child {
  color: #aaa;
}

#team-page {
  padding-bottom: 6rem !important;
}

.image-gallery-header {
  background-image: url("../images/gallery/background.jpg");
  background-size: cover;
}
.image-gallery-header .content {
  padding: 6rem 1rem;
}
.image-gallery-header .content h1 {
  width: 100%;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  color: #ffffff;
  float: left;
  line-height: 42px;
}
.image-gallery-header .content ul {
  margin-top: 70px;
}
.image-gallery-header .content ul li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.image-gallery-header .content ul li a {
  color: #ffffff;
  transition: all 0.3s;
}
.image-gallery-header .content ul li a i {
  padding: 0px 4px;
}
.image-gallery-header .content ul li a:hover {
  color: #F34336;
}
.image-gallery-header .content ul li:last-child {
  color: #aaa;
}

.gallery {
  padding: 5rem 0;
}
.gallery .gallery-item {
  position: relative;
  margin-bottom: 50px;
}
.gallery .gallery-item .gallery-content {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.gallery .gallery-item .gallery-content img {
  display: block;
  width: 100%;
}
.gallery .gallery-item .gallery-content .overlay-text {
  position: absolute;
  content: "";
  width: 100%;
  opacity: 0;
  height: 100%;
  top: 50%;
  left: 0;
  transition: all 0.3s ease 0s;
  background: rgba(0, 0, 0, 0.7);
}
.gallery .gallery-item .gallery-content .overlay-text .contents-here {
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery .gallery-item .gallery-content .overlay-text .contents-here a {
  color: #fff;
  text-align: center;
}
.gallery .gallery-item .gallery-content .overlay-text .contents-here a i {
  display: block;
  color: #F34336;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #ffffff;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  margin: 0 auto;
}
.gallery .gallery-item .gallery-content .overlay-text .contents-here h4 {
  margin-top: 20px;
  color: #fff;
}
.gallery .gallery-item .gallery-content .overlay-text .contents-here ul li {
  display: inline;
}
.gallery .gallery-item .gallery-content .overlay-text .contents-here ul li a {
  color: #fff;
}
.gallery .gallery-item:hover .overlay-text {
  top: 0;
  opacity: 1;
}

.singal-page-header {
  background-image: url("../images/singalpage/background.jpg");
  background-size: cover;
}
.singal-page-header .content {
  padding: 6rem 1rem;
}
.singal-page-header .content h1 {
  width: 100%;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  color: #ffffff;
  float: left;
  line-height: 42px;
}
.singal-page-header .content ul {
  margin-top: 70px;
}
.singal-page-header .content ul li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.singal-page-header .content ul li a {
  color: #ffffff;
  transition: all 0.3s;
}
.singal-page-header .content ul li a i {
  padding: 0px 4px;
}
.singal-page-header .content ul li a:hover {
  color: #F34336;
}
.singal-page-header .content ul li:last-child {
  color: #aaa;
}

.singal-page-content {
  padding: 7rem 0;
}
.singal-page-content img {
  height: 100%;
  width: 100%;
}
.singal-page-content .title {
  margin-top: 60px;
  margin-bottom: 20px;
}
.singal-page-content .title h1 {
  display: inline-block;
  -webkit-animation: fadeInDown 0.8s ease-in-out;
  animation: fadeInDown 0.8s ease-in-out;
  position: relative;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-right: 125px;
  margin-left: 10px;
}
.singal-page-content .title h1:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 109px;
  height: 2px;
  background: #F34336;
  margin-left: -95px;
}
.singal-page-content p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: 300;
  color: #888888;
  margin-bottom: 10px;
  font-style: normal;
  transition: all 500ms ease;
  margin: 10px;
}

.scafco-header {
  background-image: url("../images/scafco/background.jpg");
  background-size: cover;
}
.scafco-header .content {
  padding: 6rem 1rem;
}
.scafco-header .content h1 {
  width: 100%;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  color: #ffffff;
  float: left;
  line-height: 42px;
}
.scafco-header .content ul {
  margin-top: 70px;
}
.scafco-header .content ul li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.scafco-header .content ul li a {
  color: #ffffff;
  transition: all 0.3s;
}
.scafco-header .content ul li a i {
  padding: 0px 4px;
}
.scafco-header .content ul li a:hover {
  color: #F34336;
}
.scafco-header .content ul li:last-child {
  color: #aaa;
}

.scafco {
  padding: 5rem 0;
}
.scafco .scafco-item {
  position: relative;
  margin-bottom: 50px;
}
.scafco .scafco-item .scafco-content {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.scafco .scafco-item .scafco-content img {
  display: block;
  width: 100%;
}
.scafco .scafco-item .scafco-content .overlay-text {
  position: absolute;
  content: "";
  width: 100%;
  opacity: 0;
  height: 100%;
  top: 50%;
  left: 0;
  transition: all 0.3s ease 0s;
  background: rgba(0, 0, 0, 0.7);
}
.scafco .scafco-item .scafco-content .overlay-text .contents-here {
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.scafco .scafco-item .scafco-content .overlay-text .contents-here i {
  display: block;
  color: #F34336;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #ffffff;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  margin: 0 auto;
}
.scafco .scafco-item .scafco-content .overlay-text .contents-here h4 {
  margin-top: 20px;
  color: #fff;
}
.scafco .scafco-item .scafco-content .overlay-text .contents-here ul li {
  display: inline;
}
.scafco .scafco-item .scafco-content .overlay-text .contents-here ul li a {
  color: #fff;
}
.scafco .scafco-item:hover .overlay-text {
  top: 0;
  opacity: 1;
}

/*# sourceMappingURL=master.css.map */
