@import 'partial/_init';
// Toolbar style start
.toolbar{
    height:52px;
    padding: 0;
    border-bottom: 1px solid #eee;
    .toolbar-contact{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 1.90;
            li{
                display: inline-block;
                border-left: 1px solid #eee;
                padding: 7px 10px;
                color: #aaa;
                p{
                    margin: 0;
                    float: right;
                    font-size: 13px;
                    margin-top: 5px;
                    color: #aaa;
                }
                i{
                    font-size: 18px;
                    margin-right: 10px;
                }
                a{
                    transition: all 0.3s ease 0s;
                    font-size: 13px;
                    color: #aaa;
                    &:hover{
                        color: #F34336;
                    }
                }
            }  
        }
    }
    .toolbar-social{
        ul{
            float: right;
            li{
                display: inline-block;
                a{
                    color: #aaa;
                    display: block;
                    height: 54px;
                    width: 47px;
                    text-align: center;
                    line-height: 54px;
                    background: transparent;
                    transition: all .3s;
                    &:hover{
                        background-color: #F34336;
                        color: #fff;
                    }
                    i{
                        font-size: inherit;
                    }
                    &:after{
                        von
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .toolbar {
        display: none;
    }
}
//Toolbar style end





// nav style start
nav{
    background: #ffffff;
    border-bottom: 1px solid #eee;
    transition: all .5s ease 0s;
    z-index: 99;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.05);
    .navbar-brand{
        color: #222 !important;
        span{
            margin-top: 29px;
            display: inline-block;
            position: absolute;
            font-size: 22px;
            margin-left: -28px;
            color: #222;
        }
    }
    ul{
        li{
            height: 50px;
            margin: 0px 5px;
            line-height: 50px;
            .dropdown-menu{
                margin-top: 20px;
                padding: 0;
                background-color: #fff;
                box-shadow: 0 14px 20px rgba(0, 0, 0, 0.05);
                border: none;
                border-radius: .25rem;
                .active{
                    background-color: transparent;
                }
                .dropdown-item{
                    transition: all .3s;
                    &:hover{
                        background: #F34336;
                        color: #fff !important;
                    }
                }
            }
            a{
                color: #222 !important;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 400;
                margin-right: 10px;
                transition:  all .3s;
                &:hover,
                &.active{
                    color: #F34336 !important;
                }
            }
            #search{
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.9);
                z-index: 99999999;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                -webkit-transform: translate(0px, -100%) scale(0, 0);
                -moz-transform: translate(0px, -100%) scale(0, 0);
                -o-transform: translate(0px, -100%) scale(0, 0);
                -ms-transform: translate(0px, -100%) scale(0, 0);
                transform: translate(0px, -100%) scale(0, 0);
                opacity: 0;
                .close {
                    position: fixed;
                    top: 15px;
                    right: 15px;
                    color: #fff;
                    background-color: #F34336;
                    border-color: #F34336;
                    opacity: 1;
                    padding: 10px 17px;
                    font-size: 27px;
                }
                form{
                    input[type="search"] {
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        color: #fff;
                        background: rgba(0, 0, 0, 0);
                        font-size: 60px;
                        font-weight: 300;
                        text-align: center;
                        border-bottom: 2px solid #fff !important;
                        border: none;
                        margin: 0px auto;
                        margin-top: -51px;
                        padding-left: 30px;
                        padding-right: 30px;
                        outline: none;
                    }
                    .btn {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: 61px;
                        margin-left: -45px;
                    }
                }
            }
        }
    }

}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #F34336 !important;
}
.nav-fix {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}
#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}
.right-menu{
    background: #ffffff;
    box-shadow: inset 0 5px 15px 0 #e6e6e6;
    padding: 30px;
    z-index: 999999;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    right: -332px;
    transition: all 0.5s;
    .close-btn{
        overflow: visible;
        padding: 0;
        float: right;
        margin-top: -11px;
        transition: all 500ms ease;
        -webkit-animation: pulse 0.5s infinite;
        -o-animation: pulse 0.5s infinite;
        animation: pulse 0.5s infinite;
        span{
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 100%;
            background: #F34336;
            color: #ffffff;
            border: none;
            transition: all 0.3s ease 0s;
            i{
                transition: all 0.3s ease 0s;
            }
        }
    }
    .logo{
        padding-left: 0;
        padding-bottom: 25px;
        img{
            width: auto;
            height: 35px;
        }
        span{
            color: #222;
            position: absolute;
            margin-top: 12px;
            margin-left: -16px;
            font-size: 18px;
        }
        .close-btn{
            span{
                color: #fff;
            }
        }
    }
    .contact{
        padding: 25px 0 0;
        margin-bottom: 50px;
        h5{
            padding: 0 0 15px;
            font-size: 20px;
            font-weight: 600;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                background: #F34336;
                height: 2px;
                width: 50px;
                left: 0;
                bottom: 0;
                display: block;
                z-index: 1;
            }
        }
        .contact-info{
            padding: 0 0 30px;
            li{
                padding: 0 0 13px;
                i{
                    padding-right: 10px;
                }
                a{
                    color: #666666;
                    transition: all .3s;
                    &:hover{
                        color: #F34336;
                    }
                }
            }
        }
        .social{
            li{
                display: inline-block;
                padding-right: 10px;
                i{
                    display: inline-block;
                    font-size: 18px;
                    color: #ffffff;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    background: #F34336;
                    text-align: center;
                    border-radius: 50%;
                    transition:  all .4s;
                    border: 2px solid transparent;
                    &:hover{
                        border: 2px solid #F34336;
                        background: transparent;
                        color: #F34336;
                    }
                }

            }
        }
    }
}


  @media only screen and (max-width: 1199px) {
    nav {
        li{
            a{
                margin-right: 0px;
            }
        }
        .contact{
            display: none;
        }
    }   
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 3px !important;
        padding-left: 3px !important; 
    }
}
@media only screen and (max-width: 1199px){
nav{
    a{
        span{
          font-size: 15px !important;
        }
    }
 }
}
//nav style end






//header style start
header{
    height: 90vh;
    position: relative;
    transition:  all .9s;
    .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide{
            position: relative;
            background-position: center;
            background-size: cover;
            .slide-overlay{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.50);
                .slider-caption{
                    position: absolute;
                    left: 9%;
                    top: 25%;
                    h3{
                        color: #fff;
                        font-weight: 400;
                        font-family: 'Poppins', sans-serif;
                        margin-bottom: 12px;
                    }
                    h1{
                        -webkit-animation: fadeInLeft 1s ease-in-out;
                        animation: fadeInLeft 1s ease-in-out;
                        margin-bottom: 20px;
                        text-transform: capitalize;
                        font-size: 60px;
                        line-height: 70px;
                        font-weight: 700;
                        color: #fff;
                    }
                    p{
                        -webkit-animation: fadeInUp 0.8s ease-in-out;
                        animation: fadeInUp 0.8s ease-in-out;
                        font-size: 20px;
                        line-height: 30px;
                        color: #fff;
                        text-align: left;
                        font-family: 'Poppins', sans-serif;
                    }
                    .button{
                        margin-top: 20px;
                        a{
                            display: inline-block !important;
                            background: #F34336;
                            padding: 15px 33px;
                            line-height: normal;
                            border: 2px solid #F34336;
                            color: #ffffff;
                            transition: all 0.3s ease 0s;
                            border-radius: 30px 30px 30px 30px;
                            &:hover{
                                background-color: #ffffff;
                                color: #F34336;
                            }
                        }
                    }
                }
            }
        }
        .swiper-button-next{
            background-color: #F34336;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border: none;
            border-radius: 10%;
            -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
            right: 40px;
            opacity: 0;
        }
        .swiper-button-prev{
            background-color: #F34336;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border: none;
            border-radius: 10%;
            -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
            left: 40px;
            opacity: 0;
        }
        &:hover .swiper-button-next{
            opacity: 1;
            right: 15px;
        }
        &:hover .swiper-button-prev{
            opacity: 1;
            left: 15px;
        }
    }
}
@media only screen and (max-width: 440px) {
    header {
        .button,p{
            display: none;
        }
    }
}
//header style end





//HOW WE WORK style start
.how-we-work{
    padding-bottom: 8rem;
    padding-top: 8rem;
    .work-div{
        position: relative;
        text-align: center;
        overflow: hidden;
        -webkit-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.08);
        -moz-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.08);
        box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.08);
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        border-radius: 0 0 5px 5px;
        margin-top: 10px;

        .img-box{
            overflow: hidden;
            img{
                height: auto;
                width: 100%;
                transition: all 0.3s;
                border-radius: 5px 5px 0 0;
            }
        }
        .caption{
            padding: 15px 18px 22px 18px;
            h4{
                letter-spacing: 0;
                margin: 10px 0 10px;
                font-size: 20px;
                font-weight: 500;
                color: #212121;
                line-height: normal;
                a{
                    color: #212121;
                }
            }
            p{
                color: #666;
                font-size: 14px;
                margin: 0;
            }
        }
        &:hover{
            webkit-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.16);
            -moz-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.16);
            box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.16);
        }
        &:hover img{
            transform: scale(1.1);
        }
        &:hover h4 a{
            color:#F34336;
        }

    }
}
//HOW WE WORK style end






//Services style start
.service-section{
    background-color: #f4f7fc;
    padding: 7rem 0;
    .service-title{
        margin-bottom: 20px;
        h3{
            font-size: 30px;
            color: #050505;
            font-weight: 700;
        }
        p{
            margin: 0 0 34px;
        }
        a{
            display: inline-block !important;
            background: #F34336;
            padding: 15px 33px;
            line-height: normal;
            border: 2px solid #F34336;
            color: #ffffff;
            transition: all 0.3s ease 0s;
            border-radius: 30px 30px 30px 30px;
            &:hover{
                background: transparent;
                color: #222222;
            }
        }
    }
    .service-part{
        background: #ffffff;
        padding: 28px 11px 21px 22px;
        box-shadow: 0 14px 20px rgba(0, 0, 0, 0.05);
        transition: .20s;
        border-radius: 5px;
        margin-bottom: 30px;
        i{
            font-size: 40px;
            text-align: center;
            color: #F34336;
        }
        .text{
            h4{
                margin: 0 auto;
                margin-bottom: 14px;
                font-weight: 600;
                font-size: 20px;
            }
            p{
                margin-bottom: 0;
            }
        }
        &:hover{
            background: #F34336;
        }
        &:hover h4,
        &:hover p,
        &:hover i{
            color: #fff;
        }
    }
}

//Services style end







//Project style start
.Project-section{
    padding: 96px 0 100px;
    .section-title{
        margin-bottom: 66px;
    }
    .Project-item{
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        img{
            display: block;
            width: 100%;
        }
        .Project-overlay{
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: all 0.3s ease 0s;
            top: 50%;
            left: 0;
            text-align: center;
            width: 100%;
            height: 100%;
            .Project-content{
                margin-top: 27%;
                h4{
                    font-size: 18px;
                    font-weight: 500;
                    a{
                        color: #fff;
                        &:hover{
                            color: rgba(255, 255, 255, 0.7);
                        }
                    }
                }
                .project-btn{
                    background: transparent;
                    padding: 6px 18px;
                    color: #ffffff;
                    border: 2px solid #F34336;
                    border-radius: 30px;
                    font-size: 13px;
                    transition: 0.4s;
                    -webkit-transition: 0.4s;
                    -ms-transition: 0.4s;
                    &:hover{
                        background-color: #F34336;
                        color: #fff;
                    }
                }
            }
        }
        &:hover .Project-overlay{
            top: 0;
            opacity: 1;

        }
    }
}
//Project style end






//why-choose-us style start
.why-choose-us{
    padding-top: 7rem;
    padding-bottom: 5rem;
    background-color: #f4f7fc;
    .video-section{
        position: relative;
        margin-bottom: 50px;
        .image{
            position: relative;
            img{
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
            .video-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                cursor: pointer;
                transform: translate(-50%, -50%);
                a{
                    position: relative;
                    box-sizing: content-box;
                    display: block;
                    width: 32px;
                    height: 44px;
                    border-radius: 50%;
                    padding: 18px 20px 6px 33px;
                    margin: 0 auto;
                    span{
                        display: block;
                        position: relative;
                        z-index: 3;
                        width: 0;
                        height: 0;
                        border-left: 27px solid #fff;
                        border-top: 17px solid transparent;
                        border-bottom: 17px solid transparent;
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 80px;
                    height: 80px;
                    background: #F34336;
                    border-radius: 50%;
                }

            }

        }
    }
    .services-responsibiity{
        margin-bottom: 18px;
        .section-title{
            margin-bottom: 45px;
        }
        .services-item{
            z-index: 10;
            margin-bottom: 25px;
            width: 100%;
            .service-icon{
                position: relative;
                width: 50px;
                height: 50px;
                float: left;
                cursor: pointer;
                background: #F34336;
                border-radius: 50%;
                text-align: center;
                line-height: 50px;
                border: 1px solid #F34336;
                margin-right: 15px;
                box-shadow: 6px 2px 13px rgba(0, 0, 0, 0.1);
                i{
                    color: #fff;
                    font-size: 20px;
                }
            }
            .services-content{
                overflow: hidden;
                padding: 0px 15px;
                h3{
                    margin-top: 0px;
                    font-size: 18px;
                    margin-bottom: 6px;
                    font-weight: 600;
                    a{
                        color: #212121;
                        &:hover{
                            color: #F34336;
                        }
                    }
                }
                p{
                    margin-bottom: 15px;
                    color: #666666;
                }
            }
        }
    }
}
//why-choose-us style end





//team-section style start
.team-section{
    padding-top: 7rem;
    padding-bottom: 12rem;
    .section-title{
        margin-bottom: 66px;
    }
    .team-item {
        text-align: center;
        z-index: 1;
        margin-bottom: 50px;
        .team-overlay{
            position: relative;
            background: rgba(0, 0, 0, 0.7);
            overflow: hidden;
            .team-img{
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .team-content {
                position: absolute;
                display: inline-block;
                width: 100%;
                left: 0;
                bottom: 0;
                .social-content{
                    width: 100%;
                    position: relative;
                    height: 45px;;
                    .cover {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 100%;
                        background:rgba(0, 0, 0, 0.7);;
                        transition: all .2s;
                    }
                    ul {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        margin: 0;
                        z-index: 9999;
                        opacity: 0;
                        transition: all .2s;
                    }
                    li {
                        display: inline-block;
                        a {
                            display: block;
                            color: #ffffff;
                            width: 45px;
                            height: 45px;
                            line-height: 45px;
                            text-align: center;
                        }
                    }
                }
            }
            &:hover .social-content .cover {top: 0;}
            &:hover .social-content ul {opacity: 1;}
        }
        .team-info{
            h4{
                font-size: 20px;
                font-weight: 600;
                color: #212121;
                margin: 18px 0 0;
                transition: all 0.5s ease 0s;
            }
            span{
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 8px;
                padding: 0;
                display: block;
            }
        }
    }
}
//team-section style end







//contact style start
.contact-section{
    background-image: url("../images/contact/60e2f07b-d667-4eed-a182-4e0662cf3361.jpg");
    background-size: cover;
    .contact-area{
        background: #F34336;
        position: relative;
        margin-top: -110px;
        -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
        .contact-form{
            background: #F34336;
            padding: 50px 45px 60px;
            .section-title{
                margin-bottom: 20px;
                margin-top: 40px;
                h3{
                    color: #ffffff;
                    margin: 0;
                    padding: 0 0 40px;
                    &:after{
                        background: #ffffff;
                        right: unset;
                        left: 95px;
                        top: unset;
                        bottom: 20px;
                        width: 88px;
                    }
                }
            }
            .form-field{
                margin-bottom: 20px;
                input,textarea{
                    padding-left: 20px;
                    border: 1px solid transparent;
                    border-bottom: 1px solid rgba(60, 65, 84, 0.2);
                    background: transparent;
                    color: #ffffff !important;
                    outline: none;
                    width: 100%;
                    height: 40px;
                    padding: 10px 20px;
                    color: #666666;
                    border-bottom: 1px solid #ddd;
                    border-radius: 5px;
                }
                ::placeholder {
                    color: #ffffff;    
                }
                textarea{
                    max-height: 85px !important;
                    resize: none;
                    overflow: auto;
                    outline: none;
                    height: 60px;
                }
            }
            .form-button{
                margin-top: 30px;
                button{
                    border: 2px solid #ffffff;
                    background: transparent;
                    color: #ffffff !important;
                    cursor: pointer;
                    height: 48px;
                    padding: 9px 30px;
                    font-size: 15px;
                    border-radius: 30px 30px 30px 30px;
                    font-weight: 400;
                    text-transform: capitalize;
                    transition: all .3s;
                    &:hover{
                        background: #fff;
                        color: #222 !important;
                    }
                }
            }
        }
    }
    #video-section{
        position: relative;
        top: 7%;
        padding: 6rem 0;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.40);
        .video-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            cursor: pointer;
            transform: translate(-50%, -50%);
            a{
                position: relative;
                box-sizing: content-box;
                display: block;
                width: 32px;
                height: 44px;
                border-radius: 50%;
                padding: 18px 20px 6px 33px;
                margin: 0 auto;
                span{
                    display: block;
                    position: relative;
                    z-index: 3;
                    width: 0;
                    height: 0;
                    border-left: 27px solid #fff;
                    border-top: 17px solid transparent;
                    border-bottom: 17px solid transparent;
                }

            }
            &:before{
                content: "";
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: 130px;
                height: 130px;
                background: transparent;
                border: 5px solid #F34336;
                border-radius: 50%;
                transition: all 200ms;
            }
            &:after{
                content: "";
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: 100px;
                height: 100px;
                background: #F34336;
                border-radius: 50%;
                transition: all 200ms;
            }
        }
    }
}
//contact style end







//partner style style
.partner{
    background-color: #f4f7fc;
    padding-top: 5rem;
    padding-bottom: 2rem;
    .partner-item{
        margin-bottom: 30px;
    }
}
//partner style end





//footer style start
footer{
    background-color: #222;
    color: #fff;
    a{
        color: #fff;
        transition: all .3s;
        &:hover{
            color: #F34336;
        }
    }
    p{
        color: #fff;
    }
    #top-footer{
        padding: 57px 0;
        .about-widget{
            // margin-top: 30px;
            img{
                margin-bottom: 32px;
                height: 36px;
            }
            .footer-address{
                margin: 0;
                padding: 0;
                li{
                    font-size: 15px;
                    margin-bottom: 10px;
                    i{
                        margin-right: 10px;
                    }
                }
    
            }
            .social-links{
                margin-top: 20px;
                li{
                    display: inline;
                    margin-right: 10px;
                    a{
                        color: #ffffff;
                        i{
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            border-radius: 50%;
                            background: #3c3c3c;
                            text-align: center;
                            transition: all 0.3s ease 0s;
                            &:hover{
                                background: #ffffff;
                                color: #222222;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom{
        padding: 20px 0 0px;
        background: #3c3c3c;

        .copyright{
            p{
                margin: 5px 0 0;
                font-size: 14px;
            }
        }
    }
}
@media only screen and (max-width: 991px){
    .footer-bottom{
        text-align: center;
     }
}
//footer style end









//Contact page style start
// contact page header start
.contact-header{
    background-image: url("../images/contact/contact_page_background.jpg");
    background-size: cover;
    .content{
        padding: 6rem 1rem;
        h1{
            width: 100%;
            font-size: 38px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            color: #ffffff;
            float: left;
            line-height: 42px;
        }
        ul{
            margin-top: 70px;
            li{
                color: #ffffff;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
                a{
                    color: #ffffff;
                    transition: all .3s;
                    i{
                        padding: 0px 4px;
                    }
                    &:hover{
                        color: #F34336;
                    }
                }
                &:last-child {
                    color:#aaa;
                }
            }
        }
    }
}
// contact page header end





// contact page header end
.icon-section{
    padding-top: 6rem;
    text-align: center;
    .icon-box{
        max-width: 750px;
        margin: 0 auto;
        .single-icon{
            text-align: center;
            margin-bottom: 30px;
            .icon-part{
                margin: 0 0 10px;
                a{
                    i{
                        display: block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        background: #F34336;
                        color: #ffffff;
                        border-radius: 100%;
                        font-size: 20px;
                        position: relative;
                        z-index: 9;
                        margin: 0 auto;
                    }
                }
            }
            .icon-text{
                position: relative;
                h3{
                    font-size: 26px;
                    font-weight: 500;
                    color: #212121;
                    margin: 0;
                }
                a{
                    color: #666666;
                    margin-top: 15px;
                }
            }
        }
    }
}
// contact page header end





// form-section start
.form-section{
    padding-top:2rem;
    padding-bottom:5rem;
    .contact-form{
        max-width: 750px;
        margin: 0 auto;
        .form-field{
            margin-bottom: 30px;
            position: relative;
            input {
                width: 100%;
                height: 50px;
                padding: 10px 20px;
                color: #666666;
                border: 1px solid #ddd;
                border-radius: 5px;
                &:focus{
                    box-shadow: none;
                    border:1px solid #ddd !important;
                    outline: none;
                    box-shadow: none;
                }
                &:hover{
                    border:1px solid #dddd !important;
                }
            }
            textarea{
                width: 100%;
                padding: 30px 20px;
                color: #666666;
                border: 1px solid #ddd;
                border-radius: 5px;
                resize: none;
                &:focus{
                    box-shadow: none;
                    border:1px solid #ddd !important;
                    outline: none;
                }
                &:hover{
                    border:1px solid #dddd !important;
                }
            }
        }
        button{
            border: 2px solid #F34336;
            outline: none;
            height: 48px;
            padding: 9px 30px;
            font-size: 15px;
            text-transform: capitalize;
            background: #F34336;
            color: #ffffff;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            border-radius: 30px 30px 30px 30px;
        }
    }
}
// form-section end



// map-section start
.map {
    iframe{
        width:100%;
        height: 450px;
    }
}
// map-section end
//Contact page style end







// Project page style start
// Project header style start
.Project-header{
    background-image: url("../images/project/background.jpg");
    background-size: cover;
    .content{
        padding: 6rem 1rem;
        h1{
            width: 100%;
            font-size: 38px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            color: #ffffff;
            float: left;
            line-height: 42px;
        }
        ul{
            margin-top: 70px;
            li{
                color: #ffffff;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
                a{
                    color: #ffffff;
                    transition: all .3s;
                    i{
                        padding: 0px 4px;
                    }
                    &:hover{
                        color: #F34336;
                    }
                }
                &:last-child {
                    color:#aaa;
                }
            }
        }
    }
}
// Project header style end





// Project style end
.Project{
    padding: 5rem 0;
    .Project-item{
        position: relative;
        margin-bottom: 50px;
        .Project-content{
            text-align: center;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            img{
                display: block;
                width: 100%;
            }
            .overlay-text{
                position: absolute;
                content: '';
                width: 100%;
                opacity: 0;
                height: 100%;
                top: 50%;
                left: 0;
                transition: all 0.3s ease 0s;
                background: rgba(0, 0, 0, 0.7);
                .contents-here{
                    position: absolute;
                    content: '';
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    a{  
                        color: #fff;
                        text-align: center;
                        i{
                            display: block;
                            color: #F34336;
                            margin-bottom: 20px;
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            border-radius: 50%;
                            background: #ffffff;
                            font-size: 20px;
                            transition: all 0.3s ease 0s;
                            margin: 0 auto;
                        }
                    }
                    h4{
                        margin-top: 20px;
                    }
                    ul{
                        li{
                            display: inline;
                            a{
                                color:#fff;
                            }
                        }
                    }
                }
            }
        }
        &:hover .overlay-text{
            top: 0;
            opacity: 1;

        }
    }
}
// Project style end
// Project page style end







// video-gallery page style start
// video-gallery header style start
.video-gallery-header{
    background-image: url("../images/video/background.jpg");
    background-size: cover;
    .content{
        padding: 6rem 1rem;
        h1{
            width: 100%;
            font-size: 38px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            color: #ffffff;
            float: left;
            line-height: 42px;
        }
        ul{
            margin-top: 70px;
            li{
                color: #ffffff;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
                a{
                    color: #ffffff;
                    transition: all .3s;
                    i{
                        padding: 0px 4px;
                    }
                    &:hover{
                        color: #F34336;
                    }
                }
                &:last-child {
                    color:#aaa;
                }
            }
        }
    }
}

// video-gallery header style start

// video-gallery style start
.video-gallery{
    padding-top: 6rem; 
    padding-bottom: 4rem; 
    .video-section{
        position: relative;
        margin-bottom: 50px;
        .image{
            position: relative;
            background: rgba(0, 0, 0, 0.7);
            img{
                position: relative;
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
            .cover{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.5);
            }
            .video-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                cursor: pointer;
                transform: translate(-50%, -50%);
                a{
                    position: relative;
                    box-sizing: content-box;
                    display: block;
                    width: 32px;
                    height: 44px;
                    border-radius: 50%;
                    padding: 18px 20px 6px 33px;
                    margin: 0 auto;
                    span{
                        display: block;
                        position: relative;
                        z-index: 3;
                        width: 0;
                        height: 0;
                        border-left: 27px solid #fff;
                        border-top: 17px solid transparent;
                        border-bottom: 17px solid transparent;
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 80px;
                    height: 80px;
                    background: #F34336;
                    border-radius: 50%;
                    transition: all 200ms;
                }
            }
        }
    }
}
// video-gallery style end
// video-gallery page style end








// team page style start
// team header style start
.team-header{
    background-image: url("../images/team/background.jpg");
    background-size: cover;
    .content{
        padding: 6rem 1rem;
        h1{
            width: 100%;
            font-size: 38px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            color: #ffffff;
            float: left;
            line-height: 42px;
        }
        ul{
            margin-top: 70px;
            li{
                color: #ffffff;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
                a{
                    color: #ffffff;
                    transition: all .3s;
                    i{
                        padding: 0px 4px;
                    }
                    &:hover{
                        color: #F34336;
                    }
                }
                &:last-child {
                    color:#aaa;
                }
            }
        }
    }
}

// team header style end

#team-page{
    padding-bottom: 6rem !important;
}
// team page style end







// image gallery page style start
// image gallery header style start
.image-gallery-header{
    background-image: url("../images/gallery/background.jpg");
    background-size: cover;
    .content{
        padding: 6rem 1rem;
        h1{
            width: 100%;
            font-size: 38px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            color: #ffffff;
            float: left;
            line-height: 42px;
        }
        ul{
            margin-top: 70px;
            li{
                color: #ffffff;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
                a{
                    color: #ffffff;
                    transition: all .3s;
                    i{
                        padding: 0px 4px;
                    }
                    &:hover{
                        color: #F34336;
                    }
                }
                &:last-child {
                    color:#aaa;
                }
            }
        }
    }
}

// image gallery header style end
.gallery{
    padding: 5rem 0;
    .gallery-item{
        position: relative;
        margin-bottom: 50px;
        .gallery-content{
            text-align: center;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            img{
                display: block;
                width: 100%;
            }
            .overlay-text{
                position: absolute;
                content: '';
                width: 100%;
                opacity: 0;
                height: 100%;
                top: 50%;
                left: 0;
                transition: all 0.3s ease 0s;
                background: rgba(0, 0, 0, 0.7);
                .contents-here{
                    position: absolute;
                    content: '';
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    a{  
                        color: #fff;
                        text-align: center;
                        i{
                            display: block;
                            color: #F34336;
                            margin-bottom: 20px;
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            border-radius: 50%;
                            background: #ffffff;
                            font-size: 20px;
                            transition: all 0.3s ease 0s;
                            margin: 0 auto;
                        }
                    }
                    h4{
                        margin-top: 20px;
                        color:#fff;
                    }
                    ul{
                        li{
                            display: inline;
                            a{
                                color:#fff;
                            }
                        }
                    }
                }
            }
        }
        &:hover .overlay-text{
            top: 0;
            opacity: 1;

        }
    }
}
// image gallery page style end








// singal page page style start
// singal page header style start
.singal-page-header{
    background-image: url("../images/singalpage/background.jpg");
    background-size: cover;
    .content{
        padding: 6rem 1rem;
        h1{
            width: 100%;
            font-size: 38px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            color: #ffffff;
            float: left;
            line-height: 42px;
        }
        ul{
            margin-top: 70px;
            li{
                color: #ffffff;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
                a{
                    color: #ffffff;
                    transition: all .3s;
                    i{
                        padding: 0px 4px;
                    }
                    &:hover{
                        color: #F34336;
                    }
                }
                &:last-child {
                    color:#aaa;
                }
            }
        }
    }
}

// singal page header style end
.singal-page-content{
    padding: 7rem 0;
    img{
        height: 100%;
        width: 100%;
    }
    .title{
        margin-top: 60px;
        margin-bottom: 20px;
        h1{
            display: inline-block;
            -webkit-animation: fadeInDown 0.8s ease-in-out;
            animation: fadeInDown 0.8s ease-in-out;
            position: relative;
            color: #212121;
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
            font-weight: 700;
            padding-right: 125px;
            margin-left: 10px;
            &:after{
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                width: 109px;
                height: 2px;
                background: #F34336;
                margin-left: -95px;
            }
        }
    }
    p{
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        line-height: 24px;
        font-weight: 300;
        color: #888888;
        margin-bottom: 10px;
        font-style: normal;
        transition: all 500ms ease;
        margin: 10px;
    }
}
// singal page page style end








// Scafco page style start
// Scafco header style start
.scafco-header{
    background-image: url("../images/scafco/background.jpg");
    background-size: cover;
    .content{
        padding: 6rem 1rem;
        h1{
            width: 100%;
            font-size: 38px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            color: #ffffff;
            float: left;
            line-height: 42px;
        }
        ul{
            margin-top: 70px;
            li{
                color: #ffffff;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
                a{
                    color: #ffffff;
                    transition: all .3s;
                    i{
                        padding: 0px 4px;
                    }
                    &:hover{
                        color: #F34336;
                    }
                }
                &:last-child {
                    color:#aaa;
                }
            }
        }
    }
}

// Scafco header style end
.scafco{
    padding: 5rem 0;
    .scafco-item{
        position: relative;
        margin-bottom: 50px;
        .scafco-content{
            text-align: center;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            img{
                display: block;
                width: 100%;
            }
            .overlay-text{
                position: absolute;
                content: '';
                width: 100%;
                opacity: 0;
                height: 100%;
                top: 50%;
                left: 0;
                transition: all 0.3s ease 0s;
                background: rgba(0, 0, 0, 0.7);
                .contents-here{
                    position: absolute;
                    content: '';
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    i{
                        display: block;
                        color: #F34336;
                        margin-bottom: 20px;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        border-radius: 50%;
                        background: #ffffff;
                        font-size: 20px;
                        transition: all 0.3s ease 0s;
                        margin: 0 auto;
                    }
                    h4{
                        margin-top: 20px;
                        color:#fff;
                    }
                    ul{
                        li{
                            display: inline;
                            a{
                                color:#fff;
                            }
                        }
                    }
                }
            }
        }
        &:hover .overlay-text{
            top: 0;
            opacity: 1;

        }
    }
}
// Scafco page style end